# Dependencies
node_modules/
*/node_modules/

# Build files
dist/
build/

# Environment variables
.env
.env.local
backend/.env

# Logs
*.log
npm-debug.log*

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal